<div class="sect1">
<h2 id="_project_setup_amp_docker_installation">Project Setup &amp; Docker Installation</h2>
<div class="sectionbody">
<div class="paragraph"><p>The crunchy-containers can run on different environments including:</p></div>
<div class="ulist"><ul>
<li>
<p>
Docker 1.12
</p>
</li>
<li>
<p>
OpenShift Container Platform
</p>
</li>
<li>
<p>
Kubernetes 1.5+
</p>
</li>
</ul></div>
<div class="paragraph"><p>In this document we list the basic installation steps required for these
environments.</p></div>
<div class="paragraph"><p>These installation instructions are developed and tested for the following operating systems:</p></div>
<div class="ulist"><ul>
<li>
<p>
<strong>CentOS 7</strong>
</p>
</li>
<li>
<p>
<strong>RHEL 7</strong>
</p>
</li>
</ul></div>
<div class="sect2">
<h3 id="_project_directory_structure">Project Directory Structure</h3>
<div class="paragraph"><p>First add the following lines to your .bashrc file to set
the project paths:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>export GOPATH=$HOME/cdev
export GOBIN=$GOPATH/bin
export PATH=$PATH:$GOBIN
export CCP_BASEOS=centos7
export CCP_PGVERSION=10
export CCP_PG_FULLVERSION=10.1
export CCP_VERSION=1.7.0
export CCP_IMAGE_PREFIX=crunchydata
export CCP_IMAGE_TAG=$CCP_BASEOS-$CCP_PG_FULLVERSION-$CCP_VERSION
export CCPROOT=$GOPATH/src/github.com/crunchydata/crunchy-containers
export CCP_CLI=kubectl
export NAMESPACE=default
export PV_PATH=/mnt/nfsfileshare
export LOCAL_IP=$(hostname --ip-address)
export REPLACE_CCP_IMAGE_PREFIX=crunchydata</code></pre>
</div></div>
<div class="paragraph"><p>It will be necessary to refresh your bashrc file in order for the changes to take
effect.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>. ~/.bashrc</code></pre>
</div></div>
<div class="paragraph"><p>Next, set up a project directory structure and pull down the project:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>mkdir $HOME/cdev $HOME/cdev/src $HOME/cdev/pkg $HOME/cdev/bin</code></pre>
</div></div>
<div class="paragraph"><p>At this point, if you are installing crunchy-containers on a CentOS 7 machine,
you may continue with the following instructions. If you are doing an installation
on RHEL 7, please view the instructions located
<a href="https://github.com/crunchydata/crunchy-containers/blob/master/docs/install.adoc#rhel-7">below</a>
that are specific to RHEL environments.</p></div>
<div class="sect3">
<h4 id="_centos_7">CentOS 7</h4>
<div class="literalblock">
<div class="content">
<pre><code>cd $GOPATH
sudo yum -y install golang git docker
go get github.com/tools/godep
cd src/github.com
mkdir crunchydata
cd crunchydata
git clone https://github.com/crunchydata/crunchy-containers
cd crunchy-containers
git checkout 1.7.0
godep restore</code></pre>
</div></div>
<div class="paragraph"><p><strong>If you are a Crunchy enterprise customer, you will place the Crunchy repository
key and yum repository file into the $CCPROOT/conf directory at this point. These
files can be obtained through <a href="https://access.crunchydata.com/">https://access.crunchydata.com/</a> on the downloads
page.</strong></p></div>
</div>
<div class="sect3">
<h4 id="_rhel_7">RHEL 7</h4>
<div class="paragraph"><p>When setting up the environment on RHEL 7, there are slightly different steps that
need to be taken.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $GOPATH
sudo subscription-manager repos --enable=rhel-7-server-optional-rpms
sudo yum-config-manager --enable rhel-7-server-extras-rpms
sudo yum -y install git golang docker
go get github.com/tools/godep
cd src/github.com
mkdir crunchydata
cd crunchydata
git clone https://github.com/crunchydata/crunchy-containers
cd crunchy-containers
git checkout 1.7.0
godep restore</code></pre>
</div></div>
<div class="paragraph"><p><strong>If you are a Crunchy enterprise customer, you will place the Crunchy repository
key and yum repository file into the $CCPROOT/conf directory at this point. These
files can be obtained through <a href="https://access.crunchydata.com/">https://access.crunchydata.com/</a> on the downloads
page.</strong></p></div>
</div>
</div>
<div class="sect2">
<h3 id="_installing_postgresql">Installing PostgreSQL</h3>
<div class="paragraph"><p>These installation instructions assume the installation of PostgreSQL 10
through the official PGDG repository. View the documentation located
<a href="https://wiki.postgresql.org/wiki/YUM_Installation">here</a> in
order to view more detailed notes or install a different version of PostgreSQL.</p></div>
<div class="paragraph"><p>Locate and edit your distributions .repo file, located:</p></div>
<div class="ulist"><ul>
<li>
<p>
On CentOS: /etc/yum.repos.d/CentOS-Base.repo, [base] and [updates] sections
</p>
</li>
<li>
<p>
On Red Hat: /etc/yum/pluginconf.d/rhnplugin.conf [main] section
</p>
</li>
</ul></div>
<div class="paragraph"><p>To the section(s) identified above, you need to append a line (otherwise
dependencies might resolve to the PostgreSQL supplied by the base repository):</p></div>
<div class="literalblock">
<div class="content">
<pre><code>exclude=postgresql*</code></pre>
</div></div>
<div class="paragraph"><p>Next, install the RPM relating to the base operating system and PostgreSQL version
you wish to install. The RPMs can be found <a href="https://yum.postgresql.org/repopackages.php">here</a>.</p></div>
<div class="paragraph"><p>For example, to install PostgreSQL 10 on a CentOS 7 system:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo yum -y install https://download.postgresql.org/pub/repos/yum/10/redhat/rhel-7-x86_64/pgdg-centos10-10-2.noarch.rpm</code></pre>
</div></div>
<div class="paragraph"><p>Or to install PostgreSQL 10 on a RHEL 7 system:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo yum -y install https://download.postgresql.org/pub/repos/yum/testing/10/redhat/rhel-7-x86_64/pgdg-redhat10-10-2.noarch.rpm</code></pre>
</div></div>
<div class="paragraph"><p>You&#8217;ll need to update your system:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo yum -y update</code></pre>
</div></div>
<div class="paragraph"><p>Then, go ahead and install the PostgreSQL server package.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo yum -y install postgresql10-server.x86_64</code></pre>
</div></div>
</div>
<div class="sect2">
<h3 id="_installing_docker">Installing Docker</h3>
<div class="paragraph"><p>As good practice, at this point you&#8217;ll update your system.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo yum -y update</code></pre>
</div></div>
<div class="paragraph"><p>After that, it&#8217;s necessary to add the <strong>docker</strong> group and give your user access
to that group (here referenced as <strong>someuser</strong>):</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo groupadd docker
sudo usermod -a -G docker someuser</code></pre>
</div></div>
<div class="paragraph"><p>Remember to log out of the <strong>someuser</strong> account for the Docker group
to be added to your current session.  Once it&#8217;s added, you&#8217;ll be able
to run Docker commands from your user account.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>su - someuser</code></pre>
</div></div>
<div class="paragraph"><p>You can ensure your <strong>someuser</strong> account is added correctly by running the following
command and ensuring <strong>docker</strong> appears as one of the results:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>groups</code></pre>
</div></div>
<div class="paragraph"><p>Before you start Docker, you might consider configuring Docker storage:
This is described if you run:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>man docker-storage-setup</code></pre>
</div></div>
<div class="paragraph"><p>Follow the instructions available <a href="https://docs.openshift.com/container-platform/3.4/install_config/install/host_preparation.html#configuring-docker-storage">on the main OpenShift documentation page</a>
to configure Docker storage appropriately.</p></div>
<div class="paragraph"><p>These steps are illustrative of a typical process for setting up Docker storage. You will need to run these commands as root.</p></div>
<div class="paragraph"><p>First, add an extra virtual hard disk to your virtual machine (see <a href="http://catlingmindswipe.blogspot.com/2012/02/how-to-create-new-virtual-disks-in.html">this blog post</a> for tips on how to do so).</p></div>
<div class="paragraph"><p>Run this command to format the drive, where /dev/sd? is the new hard drive that was added:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>fdisk /dev/sd?</code></pre>
</div></div>
<div class="paragraph"><p>Next, create a volume group on the new drive partition within the fdisk utility:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>vgcreate docker-vg /dev/sd?</code></pre>
</div></div>
<div class="paragraph"><p>Then, you&#8217;ll need to edit the docker-storage-setup configuration file in order to override default options. Add these two lines to <strong>/etc/sysconfig/docker-storage-setup</strong>:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>DEVS=/dev/sd?
VG=docker-vg</code></pre>
</div></div>
<div class="paragraph"><p>Finally, run the command <strong>docker-storage-setup</strong> to use that new volume group. The results should state that the physical volume /dev/sd? and the volume group docker-vg have both been successfully created.</p></div>
<div class="paragraph"><p>Next, we enable and start up Docker:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo systemctl enable docker.service
sudo systemctl start docker.service</code></pre>
</div></div>
<div class="paragraph"><p>Verify that Docker version 1.12.6 was installed, as per the OpenShift 3.6
<a href="https://docs.openshift.com/container-platform/3.6/install_config/install/host_preparation.html#installing-docker">requirements.</a></p></div>
<div class="literalblock">
<div class="content">
<pre><code>docker version</code></pre>
</div></div>
</div>
<div class="sect2">
<h3 id="_build_the_containers">Build the Containers</h3>
<div class="paragraph"><p>At this point, you have a decision to make - either download prebuilt
containers from <a href="https://hub.docker.com/">Dockerhub</a>, <strong>or</strong> build the containers on your local host.</p></div>
<div class="paragraph"><p>To download the prebuilt containers, make sure you can login to
<a href="https://hub.docker.com/">Dockerhub</a>, and then run the following:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>docker login
cd $CCPROOT
./bin/pull-from-dockerhub.sh</code></pre>
</div></div>
<div class="paragraph"><p>Or if you&#8217;d rather build the containers from source, perform a container
build as follows:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT
make setup
make all</code></pre>
</div></div>
<div class="paragraph"><p>After this, you will have all the Crunchy containers built and are ready
for use in a <strong>standalone Docker</strong> environment.</p></div>
</div>
<div class="sect2">
<h3 id="_configure_nfs_for_persistence">Configure NFS for Persistence</h3>
<div class="paragraph"><p>NFS is required for some of the examples, including the backup and restore
containers.</p></div>
<div class="paragraph"><p>First, if you are running your NFS system with SELinux in enforcing mode, you will need to run the following command to allow NFS write permissions:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>sudo setsebool -P virt_use_nfs 1</code></pre>
</div></div>
<div class="paragraph"><p>Detailed instructions that you can use for setting up a NFS server on Centos 7 are provided in the following link.</p></div>
<div class="paragraph"><p><a href="http://www.itzgeek.com/how-tos/linux/centos-how-tos/how-to-setup-nfs-server-on-centos-7-rhel-7-fedora-22.html">http://www.itzgeek.com/how-tos/linux/centos-how-tos/how-to-setup-nfs-server-on-centos-7-rhel-7-fedora-22.html</a></p></div>
<div class="paragraph"><p><strong>Note</strong>: Most of the Crunchy containers run as the postgres UID (26), but you
will notice that when <strong>supplementalGroups</strong> are specified, the pod
will include the nfsnobody group in the list of groups for the pod user.</p></div>
<div class="paragraph"><p>The case of Amazon file systems is different, for that you use the
<strong>fsGroup</strong> security context setting but the idea for allowing
write permissions is the same.</p></div>
<div class="paragraph"><p>if you are running your client on a VM, you will need to
add <em>insecure</em> to the exportfs file on the NFS server due to the way port
translation is done between the VM host and the VM instance.</p></div>
<div class="paragraph"><p>For more details on this bug, please see the following link.</p></div>
<div class="paragraph"><p><a href="http://serverfault.com/questions/107546/mount-nfs-access-denied-by-server-while-mounting">http://serverfault.com/questions/107546/mount-nfs-access-denied-by-server-while-mounting</a></p></div>
<div class="paragraph"><p>A suggested best practice for tuning NFS for PostgreSQL is to configure the PostgreSQL fstab
mount options like so:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>proto=tcp,suid,rw,vers=3,proto=tcp,timeo=600,retrans=2,hard,fg,rsize=8192,wsize=8192</code></pre>
</div></div>
<div class="paragraph"><p>Network options:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>MTU=9000</code></pre>
</div></div>
<div class="paragraph"><p>If interested in mounting the same NFS share multiple times on the same mount point,
look into the <a href="https://www.novell.com/support/kb/doc.php?id=7010210">noac mount option</a>.</p></div>
<div class="paragraph"><p>Next, assuming that you are setting up NFS as your storage option, you
will need to run the following script:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/pv
./create-pv.sh nfs
./create-pvc.sh</code></pre>
</div></div>
<div class="paragraph"><p><strong>Note</strong>: If you elect to configure HostPath or GCE as your storage option, please view
README.txt for command-line usage for the ./create-pv.sh command.</p></div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_openshift_environment">OpenShift Environment</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_installation">Installation</h3>
<div class="paragraph"><p>See the OpenShift installation guide for details on how to install
OpenShift Enterprise on your host.  The main instructions are here:</p></div>
<div class="paragraph"><p><a href="https://docs.openshift.com/container-platform/3.6/install_config/install/quick_install.html">https://docs.openshift.com/container-platform/3.6/install_config/install/quick_install.html</a></p></div>
<div class="paragraph"><p><strong>Note:</strong> If you install OpenShift Enterprise on a server with less than <code>16GB</code> memory and <code>40GB</code>
of disk, the following Ansible variables need to be added to <code>~/.config/openshift/installer.cfg.yml</code>
prior to installation:</p></div>
<div class="paragraph"><p>```
openshift_check_min_host_disk_gb: <em>10</em> # min 10gb disk
openshift_check_min_host_memory_gb: <em>3</em> # min 3gb memory
```</p></div>
<div class="sect3">
<h4 id="_system_policies_for_pvc_creation_listing">System policies for PVC creation/listing</h4>
<div class="paragraph"><p>In order to allow the <strong>system</strong> user to be able to create and list
persistent volumes using <strong>OpenShift version 3.3+</strong>, you have to enter
these commands as the <strong>root</strong> user after installation in order to
modify the policies.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>oc adm policy add-role-to-user cluster-reader system
oc adm policy add-cluster-role-to-user cluster-reader system
oc adm policy add-cluster-role-to-user cluster-admin system</code></pre>
</div></div>
</div>
</div>
<div class="sect2">
<h3 id="_anyuid_permissions">anyuid permissions</h3>
<div class="paragraph"><p>One suggested method to use in order to grant a user permission to use the <strong>anyuid</strong> SCC:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>oc adm policy add-scc-to-group anyuid system:authenticated</code></pre>
</div></div>
<div class="paragraph"><p>This says that any authenticated user can run with the anyuid SCC which lets
them create PVCs and use the <strong>fsGroup</strong> setting for the PostgreSQL containers to
work using NFS.</p></div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_kubernetes_environment">Kubernetes Environment</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_installation_2">Installation</h3>
<div class="paragraph"><p>See <a href="https://kubernetes.io/docs/setup/independent/install-kubeadm/">kubeadm</a>
for setting up a test environment of Kubernetes.</p></div>
</div>
<div class="sect2">
<h3 id="_helm">Helm</h3>
<div class="paragraph"><p><strong>Installation</strong></p></div>
<div class="paragraph"><p>Once you have your Kubernetes environment configured, it is simple to get
Helm up and running. Please refer to <a href="https://docs.bitnami.com/kubernetes/get-started-kubernetes/#step-4-install-helm-and-tiller">this document</a>
to get Helm installed and configured properly.</p></div>
</div>
<div class="sect2">
<h3 id="_permissions">Permissions</h3>
<div class="paragraph"><p>As of Kubernetes 1.6, RBAC security is enabled on most Kubernetes
installations.  With RBAC, the <strong>postgres-operator</strong> needs permissions
granted to it to enable ThirdPartyResources viewing.  You can grant the
<strong>default</strong> Service Account a cluster role as one way to enable
permissions for the operator. This coarse level of granting permissions
is not recommended for production. This command will enable
the <strong>default</strong> Service Account to have the <strong>cluster-admin</strong> role:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>kubectl create clusterrolebinding permissive-binding \
        --clusterrole=cluster-admin \
        --user=admin \
        --user=kubelet \
        --group=system:serviceaccounts:default</code></pre>
</div></div>
</div>
<div class="sect2">
<h3 id="_dns">DNS</h3>
<div class="paragraph"><p>Please see <a href="https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/">here</a>
to view the official documentation regarding configuring DNS for your Kubernetes cluster.</p></div>
</div>
<div class="sect2">
<h3 id="_google_cloud_environment">Google Cloud Environment</h3>
<div class="paragraph"><p>The PostgreSQL Container Suite was tested on Google Container Engine.</p></div>
<div class="paragraph"><p>Here is a link to set up a Kube cluster on GCE:
<a href="https://kubernetes.io/docs/getting-started-guides/gce">https://kubernetes.io/docs/getting-started-guides/gce</a></p></div>
<div class="paragraph"><p>Setup the persistent disks using GCE disks by first editing
your <strong>bashrc</strong> file and export the GCE settings to match your
GCE environment.</p></div>
<div class="literalblock">
<div class="content">
<pre><code>export GCE_DISK_ZONE=us-central1-a
export GCE_DISK_NAME=gce-disk-crunchy
export GCE_DISK_SIZE=4
export GCE_FS_FORMAT=ext4</code></pre>
</div></div>
<div class="paragraph"><p>Then create the PVs used by the examples, passing in the <strong>gce</strong>
value as a parameter. This will cause the GCE disks to be created:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/pv
./create-pv.sh gce
cd $CCPROOT/examples/pv
./create-pvc.sh</code></pre>
</div></div>
<div class="paragraph"><p>Here is a link that describes more information on GCE persistent disk:
<a href="https://cloud.google.com/container-engine/docs/tutorials/persistent-disk/">https://cloud.google.com/container-engine/docs/tutorials/persistent-disk/</a></p></div>
<div class="paragraph"><p>To have the persistent disk examples work, you will need to specify
a <strong>fsGroup</strong> setting in the <strong>SecurityContext</strong> of each pod script
as follows:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>       "securityContext": {
        "fsGroup": 26
        },</code></pre>
</div></div>
<div class="paragraph"><p>For our PostgreSQL container, a UID of 26 is specified as the user
which corresponds to the <strong>fsGroup</strong> value.</p></div>
</div>
<div class="sect2">
<h3 id="_tips">Tips</h3>
<div class="paragraph"><p>Make sure your hostname resolves to a single IP address in your
/etc/hosts file. The NFS examples will not work otherwise and other problems
with installation can occur unless you have a resolving hostname.</p></div>
<div class="paragraph"><p>You should see a single IP address returned from this command:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>hostname --ip-address</code></pre>
</div></div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_legal_notices">Legal Notices</h2>
<div class="sectionbody">
<div class="paragraph"><p>Copyright © 2017 Crunchy Data Solutions, Inc.</p></div>
<div class="paragraph"><p>CRUNCHY DATA SOLUTIONS, INC. PROVIDES THIS GUIDE "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF NON INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p></div>
<div class="paragraph"><p>Crunchy, Crunchy Data Solutions, Inc. and the Crunchy Hippo Logo are trademarks of Crunchy Data Solutions, Inc.</p></div>
</div>
</div>
