{%extends "base.html" %}
  {%block title%}Installation | Crunchy Container Suite{%endblock%}
  {%block pagetitle%}Crunchy Container Suite{%endblock%}
  {%block content%}
<div class="sect1">
<h2 id="_metrics_collection">Metrics Collection</h2>
<div class="sectionbody">
<div class="paragraph"><p>70 different PostgreSQL metrics are collected by the crunchy-collect container, which executes both the postgres_exporter and node_exporter. Written in Go, these are both metrics exporters that work with Prometheus to provide PostgreSQL server metrics in addition to hardware and OS metrics. The crunchy-collect container gathers different metrics from the crunchy-postgres PostgreSQL database container and pushes these to the Prometheus Promgateway.</p></div>
<div class="paragraph"><p>The collector is similar to the Prometheus Pushgateway, in that it allows exporting of statistics from batch jobs. It can also be used to export static metrics, such as what role a machine has. These SQL metrics are pushed to the crunchy-promgateway container, which holds the Prometheus Promgateway. This container is then scraped by crunchy-prometheus which hosts Prometheus. Grafana runs from crunchy-grafana, which displays the collected PostgreSQL metrics from the crunchy-prometheus container as a data source and uses the metrics to build dashboards. The Grafana template used is defined by default using a JSON template and is indexed by Grafana as an accessible dashboard.</p></div>
<div class="paragraph"><p>Prometheus is a multi-dimensional time series data model with an elastic query language. It is used in collaboration with Grafana in this metrics suite. Overall, it’s reliable, manageable, and operationally simple for efficiently storing and analyzing data for large-scale environments. It targets the Promgateway as an endpoint for scraping metrics.</p></div>
<div class="paragraph"><p>Grafana is open source, adaptable and efficient data conceptualization software. This technology is capable of converting raw data to beautifully represented graphs, allowing you to easily monitor your database with a glance. In addition, it has a strong query and transformation language that allows for instantaneous and complex combinations of metrics, queries, correlations, and mathematical graphing.</p></div>
<div class="paragraph"><p>To start collection of metrics on a PostgreSQL database, you add the crunchy-collect container into the pod that holds the crunchy-postgres container.</p></div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/after.png")}}" alt="alt=Crunchy Containers Metrics Collection" />
</div>
</div>
<div class="sect2">
<h3 id="_overview">Overview</h3>
<div class="paragraph"><p>Metrics are stored in the crunchy-prometheus container, which runs the Prometheus time series database. It scrapes the crunchy-collect container which hosts the postgres_exporter and node_exporter for PostgreSQL server metrics as well as host and OS level metrics. These metrics are then pushed to crunchy-grafana in order to visualize the results.</p></div>
<div class="paragraph"><p>The crunchy-prometheus data in this example is stored in emptyDir volume types. To persist the
data and Grafana templates long term, you will want to use NFS volume types as specified in
the script examples/openshift/metrics/run-pvc.sh.</p></div>
<div class="paragraph"><p>When running crunchy-metrics, the following ports are available:</p></div>
<div class="ulist"><ul>
<li>
<p>
<a href="http://crunchy-metrics:9090">http://crunchy-metrics:9090</a> - the Prometheus web user interface
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:9091">http://crunchy-metrics:9091</a> - the Prometheus pushgateway REST API
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:3000">http://crunchy-metrics:3000</a> - the Grafana web user interface
</p>
</li>
</ul></div>
</div>
<div class="sect2">
<h3 id="_environment_variables">Environment Variables</h3>
<div class="ulist"><ul>
<li>
<p>
PROM_GATEWAY - The HTTP URL of the Prometheus Pushgateway into which the metrics will be pushed
</p>
</li>
<li>
<p>
NODE_EXPORTER_URL - The HTTP URL of the node_exporter utility which collects host and OS level system metrics.
</p>
</li>
<li>
<p>
POSTGRES_EXPORTER_URL - The HTTP URL of the postgres_exporter utility which collects PostgreSQL server metrics.
</p>
</li>
<li>
<p>
DATA_SOURCE_NAME - The URL for the PostgreSQL server&#8217;s data source name. This is <strong>required</strong> to be in the form of <strong>postgresql://</strong>.
</p>
</li>
</ul></div>
</div>
<div class="sect2">
<h3 id="_docker">Docker</h3>
<div class="paragraph"><p>You can collect various PostgreSQL metrics from your database container by running a
crunchy-collect container that points to your database container.</p></div>
<div class="paragraph"><p>To start this set of containers, run the following:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/docker/metrics
./run.sh</code></pre>
</div></div>
<div class="paragraph"><p>This will start up 3 containers and services:</p></div>
<div class="ulist"><ul>
<li>
<p>
<a href="http://crunchy-metrics:9090">http://crunchy-metrics:9090</a> - the Prometheus web user interface
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:9091">http://crunchy-metrics:9091</a> - the Prometheus pushgateway REST API
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:3000">http://crunchy-metrics:3000</a> - the Grafana web user interface
</p>
</li>
</ul></div>
<div class="paragraph"><p>An example has been provided that runs a database container
and also the associated metrics collection container, run the
example as follows:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/docker/collect
./run.sh</code></pre>
</div></div>
<div class="paragraph"><p>Every 3 minutes the collection container will collect PostgreSQL
metrics and push them to the Crunchy Prometheus database.  You
can graph them using the Crunchy Grafana container.</p></div>
<div class="paragraph"><p>If firewalld is enabled in your environment, it may be necessary
to allow the necessary ports through the firewall. This can be
accomplished by the following:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>firewall-cmd --permanent --new-zone metrics
firewall-cmd --permanent --zone metrics --add-port 9090/tcp
firewall-cmd --permanent --zone metrics --add-port 9091/tcp
firewall-cmd --permanent --zone metrics --add-port 3000/tcp
firewall-cmd --reload</code></pre>
</div></div>
</div>
<div class="sect2">
<h3 id="_kubernetes">Kubernetes</h3>
<div class="paragraph"><p>This example starts up Prometheus and Grafana.</p></div>
<div class="paragraph"><p>It is required to view or capture metrics collected by crunchy-collect.</p></div>
<div class="paragraph"><p>Running the example:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/kube/metrics
./run.sh</code></pre>
</div></div>
<div class="paragraph"><p>This will start up 3 containers and services:</p></div>
<div class="ulist"><ul>
<li>
<p>
<a href="http://crunchy-metrics:9090">http://crunchy-metrics:9090</a> - the Prometheus web user interface
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:9091">http://crunchy-metrics:9091</a> - the Prometheus pushgateway REST API
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:3000">http://crunchy-metrics:3000</a> - the Grafana web user interface
</p>
</li>
</ul></div>
<div class="paragraph"><p>If you want your metrics and dashboards to persist to NFS, run
this script:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/kube/metrics
./run-pvc.sh</code></pre>
</div></div>
<div class="paragraph"><p>In the docs folder of the github repo, check out the metrics.adoc
for details on the exact metrics being collected.</p></div>
<div class="paragraph"><p>This example runs a pod that includes a database container and
a metrics collection container. A service is also created for the pod.</p></div>
<div class="paragraph"><p>Running the example:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/kube/collect
./run.sh</code></pre>
</div></div>
<div class="paragraph"><p>If firewalld is enabled in your environment, it may be necessary
to allow the necessary ports through the firewall. This can be
accomplished by the following:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>firewall-cmd --permanent --new-zone metrics
firewall-cmd --permanent --zone metrics --add-port 9090/tcp
firewall-cmd --permanent --zone metrics --add-port 9091/tcp
firewall-cmd --permanent --zone metrics --add-port 3000/tcp
firewall-cmd --reload</code></pre>
</div></div>
<div class="paragraph"><p>You can view the collect container logs using this command:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>kubectl logs -c collect primary-collect</code></pre>
</div></div>
<div class="paragraph"><p>You can access the database or drive load against it using
this command:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>psql -h primary-collect -U postgres postgres</code></pre>
</div></div>
</div>
<div class="sect2">
<h3 id="_openshift">OpenShift</h3>
<div class="paragraph"><p>This example starts up Prometheus and Grafana.</p></div>
<div class="paragraph"><p>It is required to view or capture metrics collected by crunchy-collect.</p></div>
<div class="paragraph"><p>First, create the crunchy-metrics pod which contains
the Prometheus data store and the Grafana graphing web application:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/openshift/metrics
./run.sh</code></pre>
</div></div>
<div class="paragraph"><p>This will start up 3 containers and services:</p></div>
<div class="ulist"><ul>
<li>
<p>
<a href="http://crunchy-metrics:9090">http://crunchy-metrics:9090</a> - the Prometheus web user interface
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:9091">http://crunchy-metrics:9091</a> - the Prometheus pushgateway REST API
</p>
</li>
<li>
<p>
<a href="http://crunchy-metrics:3000">http://crunchy-metrics:3000</a> - the Grafana web user interface
</p>
</li>
</ul></div>
<div class="paragraph"><p>When accessing the Grafana web application, the default user credentials will be
the username <strong>admin</strong> and the password <strong>admin</strong>.</p></div>
<div class="paragraph"><p>Next, start a PostgreSQL pod that has the crunchy-collect container
as follows:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>cd $CCPROOT/examples/openshift/collect
./run.sh</code></pre>
</div></div>
<div class="paragraph"><p>At this point, metrics will be collected every 3 minutes and pushed
to Prometheus.  You can build graphs off the metrics using Grafana.</p></div>
<div class="paragraph"><p>If firewalld is enabled in your environment, it may be necessary
to allow the necessary ports through the firewall. This can be
accomplished by the following:</p></div>
<div class="literalblock">
<div class="content">
<pre><code>firewall-cmd --permanent --new-zone metrics
firewall-cmd --permanent --zone metrics --add-port 9090/tcp
firewall-cmd --permanent --zone metrics --add-port 9091/tcp
firewall-cmd --permanent --zone metrics --add-port 3000/tcp
firewall-cmd --reload</code></pre>
</div></div>
</div>
<div class="sect2">
<h3 id="_node_exporter">node_exporter</h3>
<div class="paragraph"><p>The tables below list all existing collectors that are gathered by the <a href="https://github.com/prometheus/node_exporter">node_exporter</a>.
This tool collects hardware and OS level metrics exposed by the kernel as part of the crunchy-collect container.</p></div>
<div class="paragraph"><div class="title"><strong>Table 1: Enabled by Default</strong></div><p>This table lists all metrics collected by default with the node_exporter.</p></div>
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="50%" />
<col width="50%" />
<thead>
<tr>
<th align="left" valign="top">Name</th>
<th align="left" valign="top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left" valign="top"><p class="table">arp</p></td>
<td align="left" valign="top"><p class="table">Exposes ARP statistics from <code>/proc/net/arp</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">bcache</p></td>
<td align="left" valign="top"><p class="table">Exposes bcache statistics from <code>/sys/fs/bcache/</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">conntrack</p></td>
<td align="left" valign="top"><p class="table">Shows conntrack statistics (does nothing if no <code>/proc/sys/net/netfilter/</code> present).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">cpu</p></td>
<td align="left" valign="top"><p class="table">Exposes CPU statistics</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">diskstats</p></td>
<td align="left" valign="top"><p class="table">Exposes disk I/O statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">edac</p></td>
<td align="left" valign="top"><p class="table">Exposes error detection and correction statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">entropy</p></td>
<td align="left" valign="top"><p class="table">Exposes available entropy.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">exec</p></td>
<td align="left" valign="top"><p class="table">Exposes execution statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">filefd</p></td>
<td align="left" valign="top"><p class="table">Exposes file descriptor statistics from <code>/proc/sys/fs/file-nr</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">filesystem</p></td>
<td align="left" valign="top"><p class="table">Exposes filesystem statistics</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">hwmon</p></td>
<td align="left" valign="top"><p class="table">Expose hardware monitoring and sensor data from <code>/sys/class/hwmon/</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">infiniband</p></td>
<td align="left" valign="top"><p class="table">Exposes network statistics specific to InfiniBand and Intel OmniPath configurations.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">ipvs</p></td>
<td align="left" valign="top"><p class="table">Exposes IPVS status from <code>/proc/net/ip_vs</code> and stats from <code>/proc/net/ip_vs_stats</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">loadavg</p></td>
<td align="left" valign="top"><p class="table">Exposes load average.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">mdadm</p></td>
<td align="left" valign="top"><p class="table">Exposes statistics about devices in <code>/proc/mdstat</code> (does nothing if no <code>/proc/mdstat</code> present).</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">meminfo</p></td>
<td align="left" valign="top"><p class="table">Exposes memory statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">netdev</p></td>
<td align="left" valign="top"><p class="table">Exposes network interface statistics such as bytes transferred.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">netstat</p></td>
<td align="left" valign="top"><p class="table">Exposes network statistics from <code>/proc/net/netstat</code>. This is the same information as <code>netstat -s</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">sockstat</p></td>
<td align="left" valign="top"><p class="table">Exposes various statistics from <code>/proc/net/sockstat</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">stat</p></td>
<td align="left" valign="top"><p class="table">Exposes various statistics from <code>/stat</code>. This includes boot time &amp; forks as well as interrupts.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">textfile</p></td>
<td align="left" valign="top"><p class="table">Exposes statistics read from local disk. The <code>--collector.textfile.directory</code> flag must be set.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">time</p></td>
<td align="left" valign="top"><p class="table">Exposes the current system time.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">uname</p></td>
<td align="left" valign="top"><p class="table">Exposes system information as provided by the uname system call.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">vmstat</p></td>
<td align="left" valign="top"><p class="table">Exposes statistics from <code>/proc/vmstat</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">wifi</p></td>
<td align="left" valign="top"><p class="table">Exposes WiFi device and station statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">xfs</p></td>
<td align="left" valign="top"><p class="table">Exposes XFS runtime statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">zfs</p></td>
<td align="left" valign="top"><p class="table">Exposes <a href="http://open-zfs.org/">ZFS</a> performance statistics.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="paragraph"><div class="title"><strong>Table 2: Disabled by Default</strong></div><p>The following table contains metrics that are not enabled by default; these can be enabled using the <code>--collectors.enabled</code> flag.</p></div>
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="50%" />
<col width="50%" />
<thead>
<tr>
<th align="left" valign="top">Name</th>
<th align="left" valign="top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left" valign="top"><p class="table">bonding</p></td>
<td align="left" valign="top"><p class="table">Exposes the number of configured and active replicas of Linux bonding interfaces.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">buddyinfo</p></td>
<td align="left" valign="top"><p class="table">Exposes statistics of memory fragments as reported by <code>/proc/buddyinfo</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">devstat</p></td>
<td align="left" valign="top"><p class="table">Exposes device statistics</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">drbd</p></td>
<td align="left" valign="top"><p class="table">Exposes Distributed Replicated Block Device statistics (to version 8.4)</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">interrupts</p></td>
<td align="left" valign="top"><p class="table">Exposes detailed interrupts statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">ksmd</p></td>
<td align="left" valign="top"><p class="table">Exposes kernel and system statistics from <code>/sys/kernel/mm/ksm</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">logind</p></td>
<td align="left" valign="top"><p class="table">Exposes session counts from <a href="http://www.freedesktop.org/wiki/Software/systemd/logind/">logind</a>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">meminfo\_numa</p></td>
<td align="left" valign="top"><p class="table">Exposes memory statistics from <code>/proc/meminfo_numa</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">mountstats</p></td>
<td align="left" valign="top"><p class="table">Exposes filesystem statistics from <code>/proc/self/mountstats</code>. Exposes detailed NFS client statistics.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">nfs</p></td>
<td align="left" valign="top"><p class="table">Exposes NFS client statistics from <code>/proc/net/rpc/nfs</code>. This is the same information as <code>nfsstat -c</code>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">qdisc</p></td>
<td align="left" valign="top"><p class="table">Exposes <a href="https://en.wikipedia.org/wiki/Network_scheduler#Linux_kernel">queuing discipline</a> statistics</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">runit</p></td>
<td align="left" valign="top"><p class="table">Exposes service status from <a href="http://smarden.org/runit/">runit</a>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">supervisord</p></td>
<td align="left" valign="top"><p class="table">Exposes service status from <a href="http://supervisord.org/">supervisord</a>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">systemd</p></td>
<td align="left" valign="top"><p class="table">Exposes service and system status from <a href="http://www.freedesktop.org/wiki/Software/systemd/">systemd</a>.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">tcpstat</p></td>
<td align="left" valign="top"><p class="table">Exposes TCP connection status information from <code>/proc/net/tcp</code> and <code>/proc/net/tcp6</code>. (Warning: the current version has potential performance issues in high load situations.)</p></td>
</tr>
</tbody>
</table>
</div>
<div class="paragraph"><div class="title"><strong>Table 3: Deprecated</strong></div><p>These metrics will be deprecated and (re)moved in future releases of node_exporter.</p></div>
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="50%" />
<col width="50%" />
<tbody>
<tr>
<td align="left" valign="top"><p class="table">Name</p></td>
<td align="left" valign="top"><p class="table">Description</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">gmond</p></td>
<td align="left" valign="top"><p class="table">Exposes statistics from Ganglia.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">megacli</p></td>
<td align="left" valign="top"><p class="table">Exposes RAID statistics from MegaCLI.</p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">ntp</p></td>
<td align="left" valign="top"><p class="table">Exposes time drift from an NTP server.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_postgres_exporter">postgres_exporter</h3>
<div class="paragraph"><p>The <a href="https://github.com/wrouesnel/postgres_exporter">postgres_exporter</a> collects PostgreSQL server metrics as part of the crunchy-collect container.</p></div>
<div class="paragraph"><div class="title"><strong>Table 1: General</strong></div><p>The following are some general metrics it collects:</p></div>
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="25%" />
<col width="25%" />
<col width="25%" />
<col width="25%" />
<thead>
<tr>
<th align="left" valign="top">Name</th>
<th align="left" valign="top">Description</th>
<th align="left" valign="top">Usage</th>
<th align="left" valign="top">Query</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left" valign="top"><p class="table">pg_replication</p></td>
<td align="left" valign="top"><p class="table">Replication lag behind primary in seconds</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT EXTRACT(EPOCH FROM (now() - pg_last_xact_replay_timestamp()))::INT as lag</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">pg_postmaster</p></td>
<td align="left" valign="top"><p class="table">Time at which postmaster started</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT pg_postmaster_start_time as start_time_seconds from pg_postmaster_start_time()</code></p></td>
</tr>
</tbody>
</table>
</div>
<div class="paragraph"><div class="title"><strong>Table 2: pg_stat_user_tables</strong></div><p>These metrics are general statistics on tables.</p></div>
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="25%" />
<col width="25%" />
<col width="25%" />
<col width="25%" />
<thead>
<tr>
<th align="left" valign="top">Name</th>
<th align="left" valign="top">Description</th>
<th align="left" valign="top">Usage</th>
<th align="left" valign="top">Query</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left" valign="top"><p class="table">schemaname</p></td>
<td align="left" valign="top"><p class="table">Name of the schema that this table is in</p></td>
<td align="left" valign="top"><p class="table">LABEL</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT schemaname FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">relname</p></td>
<td align="left" valign="top"><p class="table">Name of this table</p></td>
<td align="left" valign="top"><p class="table">LABEL</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT relname FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">seq_scan</p></td>
<td align="left" valign="top"><p class="table">Number of sequential scans initiated on this table</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT seq_scan FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">seq_tup_read</p></td>
<td align="left" valign="top"><p class="table">Number of live rows fetched by sequential scans</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT seq_tup_read FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">idx_scan</p></td>
<td align="left" valign="top"><p class="table">Number of index scans initiated on this table</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT idx_scan FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">idx_tup_fetch</p></td>
<td align="left" valign="top"><p class="table">Number of live rows fetched by index scans</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT idx_tup_fetch FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_tup_ins</p></td>
<td align="left" valign="top"><p class="table">Number of rows inserted</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_tup_ins FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_tup_upd</p></td>
<td align="left" valign="top"><p class="table">Number of rows updated</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_tup_upd FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_tup_del</p></td>
<td align="left" valign="top"><p class="table">Number of rows deleted</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_tup_del FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_tup_hot_upd</p></td>
<td align="left" valign="top"><p class="table">Number of rows HOT updated (i.e. with no separate index update required)</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_tup_hot_upd FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_live_tup</p></td>
<td align="left" valign="top"><p class="table">Estimated number of live rows</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_live_tup FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_dead_tup</p></td>
<td align="left" valign="top"><p class="table">Estimated number of dead rows</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_dead_tup FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">n_mod_since_analyze</p></td>
<td align="left" valign="top"><p class="table">Estimated number of rows changed since last analyze</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT n_mod_since_analyze FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">last_vacuum</p></td>
<td align="left" valign="top"><p class="table">Last time at which this table was manually vacuumed (not counting VACUUM FULL)</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT last_vacuum FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">last_autovacuum</p></td>
<td align="left" valign="top"><p class="table">Last time at which this table was vacuumed by the autovacuum daemon</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT last_autovacuum FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">last_analyze</p></td>
<td align="left" valign="top"><p class="table">Last time at which this table was manually analyzed</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT last_analyze FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">last_autoanalyze</p></td>
<td align="left" valign="top"><p class="table">Last time at which this table was analyzed by the autovacuum daemon</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT last_autoanalyze FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">vacuum_count</p></td>
<td align="left" valign="top"><p class="table">Number of times this table has been manually vacuumed (not counting VACUUM FULL)</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT vacuum_count FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">autovacuum_count</p></td>
<td align="left" valign="top"><p class="table">Number of times this table has been vacuumed by the autovacuum daemon</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT autovacuum_count FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">analyze_count</p></td>
<td align="left" valign="top"><p class="table">Number of times this table has been manually analyzed</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT analyze_count FROM pg_stat_user_tables</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">autoanalyze_count</p></td>
<td align="left" valign="top"><p class="table">Number of times this table has been analyzed by the autovacuum daemon</p></td>
<td align="left" valign="top"><p class="table">COUNTER</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT autoanalyze_count FROM pg_stat_user_tables</code></p></td>
</tr>
</tbody>
</table>
</div>
<div class="paragraph"><div class="title"><strong>Table 3: pg_database</strong></div><p>These statistics provide database queries.</p></div>
<div class="tableblock">
<table rules="all"
width="100%"
frame="border"
cellspacing="0" cellpadding="4">
<col width="25%" />
<col width="25%" />
<col width="25%" />
<col width="25%" />
<thead>
<tr>
<th align="left" valign="top">Name</th>
<th align="left" valign="top">Description</th>
<th align="left" valign="top">Usage</th>
<th align="left" valign="top">Query</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left" valign="top"><p class="table">datname</p></td>
<td align="left" valign="top"><p class="table">LABEL</p></td>
<td align="left" valign="top"><p class="table">Name of the database</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT pg_database.datname as size FROM pg_database</code></p></td>
</tr>
<tr>
<td align="left" valign="top"><p class="table">usage</p></td>
<td align="left" valign="top"><p class="table">GAUGE</p></td>
<td align="left" valign="top"><p class="table">Disk space used by the database</p></td>
<td align="left" valign="top"><p class="table"><code>SELECT pg_database_size(pg_database.datname) as size FROM pg_database</code></p></td>
</tr>
</tbody>
</table>
</div>
<div style="page-break-after:always"></div>
</div>
<div class="sect2">
<h3 id="_grafana_dashboard">Grafana Dashboard</h3>
<div class="paragraph"><p>You can create dashboards of various graphs using the Grafana Dashboard editor, but the following images display the default Grafana template that comes packaged in the Metrics suite:</p></div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/grafana-dashboard-1.png")}}" alt="{{media("images/grafana-dashboard-1.png")}}" />
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/grafana-dashboard-2.png")}}" alt="{{media("images/grafana-dashboard-2.png")}}" />
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/grafana-dashboard-3.png")}}" alt="{{media("images/grafana-dashboard-3.png")}}" />
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/grafana-dashboard-4.png")}}" alt="{{media("images/grafana-dashboard-4.png")}}" />
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/grafana-dashboard-5.png")}}" alt="{{media("images/grafana-dashboard-5.png")}}" />
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{media("images/grafana-dashboard-6.png")}}" alt="{{media("images/grafana-dashboard-6.png")}}" />
</div>
</div>
<div class="paragraph"><p>Some more information on creating custom Grafana dashboards can be found in the official documentation - <a href="http://docs.grafana.org/guides/getting_started/">http://docs.grafana.org/guides/getting_started/</a>.</p></div>
<div style="page-break-after:always"></div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_legal_notices">Legal Notices</h2>
<div class="sectionbody">
<div class="paragraph"><p>Copyright © 2018 Crunchy Data Solutions, Inc.</p></div>
<div class="paragraph"><p>CRUNCHY DATA SOLUTIONS, INC. PROVIDES THIS GUIDE "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF NON INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p></div>
<div class="paragraph"><p>Crunchy, Crunchy Data Solutions, Inc. and the Crunchy Hippo Logo are trademarks of Crunchy Data Solutions, Inc.</p></div>
</div>
</div>
{% endblock %}
