{%macro media(url)%}{{mediabase|default("/")}}static/{%if githash%}{{githash}}/{%endif%}{{url}}{%endmacro-%}
{%macro link(url)%}{{linkbase|default("/")}}{{url}}{%endmacro-%}
{%macro menulink(subpage,title,magic)%}<li{%if page==subpage or (pagemagic and pagemagic==magic)%} class="active"{%endif%}><a href="{{link(subpage + "/")}}">{{title}}</a></li>{%endmacro-%}
<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Leading provider of certified open source PostgreSQL and PostgreSQL related technologies, support and training for enterprise and cloud-native deployments.">
		<title>{%block title%}Crunchy Data{%endblock%}</title>
		<link rel="icon" href="favicon.ico" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@crunchydb">
		<meta name="twitter:creator" content="@crunchydb">
		<meta name="twitter:title" content="Crunchy Container Suite | Crunchy Data">
		<meta name="twitter:description" content="Leading provider of certified open source PostgreSQL and PostgreSQL related technologies, support and training for enterprise and cloud-native deployments.">

		<!-- Facebook Open Graph Meta Tags -->
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="800">
		<meta property="og:url" content="https://www.crunchydata.com">
		<meta property="og:title" content="Crunchy Container Suite | Crunchy Data">
		<meta property="og:site_name" content="Crunchy Data">
		<meta property="og:image" content="https://www.crunchydata.com/images/logo.png">

		<!-- Structured Data -->
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "ProfessionalService",
		  "url": "https://www.crunchydata.com/",
		  "logo": "https://www.crunchydata.com/images/logo.png",
		  "image": "https://www.crunchydata.com/images/hippo.png",
		  "email": "mailto:info@crunchydata.com",
		  "description": "Leading provider of certified open source PostgreSQL and PostgreSQL related technologies, support and training for enterprise and cloud-native deployments.",
		  "name": "Crunchy Data",
		  "telephone": "+1-843-737-6045",
		  "sameAs" : [
		    "http://www.twitter.com/crunchydb",
		    "http://www.linkedin.com/company-beta/2833715/",
		    "http://www.github.com/crunchydata",
		    "http://www.plus.google.com/+Crunchydatasolutionsinc"]
		}
		</script>

		<!-- Bootstrap -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<!-- Animate CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

		<!-- Custom CSS -->
		<link href="{{media("css/main.css")}}" rel="stylesheet">

		{%block extrahead%}{%endblock%}

	</head>
	<body>
		<!-- Navigation -->
    <nav id="header" class="navbar navbar-fixed-top fixedtheme">
		  <div id="header-container" class="container navbar-container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
		      	<i class="fa fa-bars"></i>
		      </button>
		      <a class="navbar-brand" href="/">
		      	<img id="logo" src="../../static/images/logo.svg" alt="Crunchy Data Logo">
	  		  </a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div id="navbar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">Home</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='https://github.com/CrunchyData/crunchy-containers/releases'>Releases</a></li>
						<li class="active"><a href='/installation'>Installation</a></li>
						<li><a href='/usage'>Usage</a></li>
            <li><a href='/troubleshooting'>Troubleshooting</a></li>
            <li><a href='https://github.com/crunchydata/crunchy-containers'>Source Code</a></li>
            <li><a href='https://github.com/CrunchyData/crunchy-containers/issues'>Issues</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">Crunchy Container Suite</a>
              </li>
              <li>
                  <a href="#_project_setup">Project Setup</a>
              </li>
							<li><a href="#_docker_environment" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Docker Environment <i class="fa small fa-plus fa-hover-hidden fa-fw"></i><i class="fa small fa-minus fa-hover-show fa-fw"></i></a>
								<ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
									<li><a href="#">Link 2.1</a></li>
									<li><a href="#">Link 2.2</a></li>
									<li><a href="#">Link 2.3</a></li>
								</ul>
							</li>
              <li>
                  <a href="#_openshift_environment">OpenShift Environment</a>
              </li>
              <li>
                  <a href="#_kubernetes_environment">Kubernetes Environment</a>
              </li>
              <li>
                  <a href="#_legal_notices">Legal Notices</a>
              </li>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								</form>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
				<div id="page-content-wrapper">
			    <div class="bkg one">
			      <div class="container">
      				{%block content%}{%endblock%}
						</div>
					</div>

					<div id="bottom" class="highlights animated fadeIn">
						<a href="/contact">
							Contact Us for More Information <i class="fa fa-envelope-o"></i>
						</a>
						<a target="_blank" href="http://www.prweb.com/releases/2017/03/prweb14178221.htm">
							Crunchy Data Announces PostgreSQL STIG <i class="fa fa-external-link"></i>
						</a>
					</div>
					<!-- Footer -->
					<div id="footer">
						<div class="container">
							<section>
							  <ul class="contact">
							    <li><a target='_blank' href="https://twitter.com/crunchydb" class="fa fa-twitter"><span>Twitter</span></a></li>
							    <li><a target='_blank' target='_blank' href="https://www.youtube.com/channel/UCooRnlDz6VLAbFyKIChz4fg" class="fa fa-youtube"><span>YouTube</span></a></li>
							    <li><a target='_blank' href="https://github.com/crunchydata" class="fa fa-github"><span>GitHub</span></a></li>
							  </ul>
							</section>
						</div>
					</div>

					<!-- Copyright -->
					<div id="copyright">
					<div class="container">
						© 2018 Crunchy Data Solutions, Inc.
					</div>
				</div>
			</div> <!-- /#page-content-wrapper -->
		</div> <!-- /#content-wrapper -->

		<!-- Javascript -->
		<script src="{{media("js/jquery.min.js")}}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{{media("js/jquery.matchHeight-min.js")}}"></script>
		<script src="{{media("js/main.js")}}"></script>

	</body>
</html>
